.link {
  display: block;
  font-weight: 600;
  transition: 0.1s;
}

.linkMobile {
  display: block;
  width: 100%;
  padding: 1rem 0;
  margin-right: 4rem;
  border-bottom: 1px solid var(--feather-c-border);
}

.link:hover {
  color: var(--feather-c-theme-1);
}
