.nav {
  padding: 2rem;
  background-color: var(--feather-c-bg);
}

.mobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  margin-top: calc(3.5rem + 7px);
  background-color: var(--feather-c-bg);
}

.social-link-icon {
  display: flex;
  opacity: var(--feather-opacity-4);
  fill: currentcolor;
  transition: 0.2s;

  &:hover {
    opacity: var(--feather-opacity-3);
  }
}

.social-link-iconMobile {
  display: flex;
  padding: 1rem 1.8rem;
  opacity: var(--feather-opacity-4);
  fill: currentcolor;
  transition: 0.2s;
}

.mobileAppearance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2.5rem;
  opacity: var(--feather-opacity-4);
  fill: currentcolor;
  transition: 0.2s;
}
