.nav {
  padding-right: max(
    32px,
    calc(32px + (100vw - var(--feather-layout-max-width)) / 2)
  );
  padding-left: max(
    32px,
    calc(32px + (100vw - var(--feather-layout-max-width)) / 2)
  );
  background-color: var(--feather-c-bg);
}

.social-link-icon {
  display: flex;
  opacity: var(--feather-opacity-4);
  fill: currentcolor;
  transition: 0.2s;

  &:hover {
    opacity: var(--feather-opacity-3);
  }
}
