.sidebar {
  position: fixed;
  width: 20rem;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--feather-c-bg-feature);
  transition: opacity 0.5s, transform 0.25s ease;
  z-index: 1;
  padding-top: var(--feather-nav-height);
  transform: translateX(0);
}

:global(.dark) .sidebar {
  box-shadow: var(--feather-shadow-2);
}
