.sidebar {
  position: fixed;
  width: 15rem;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--feather-c-bg-feature);
  box-shadow: var(--feather-shadow-2);
  opacity: 0;
  transition: opacity 0.5s, transform 0.25s ease;
  transform: translateX(-100%);
  z-index: 1;
  padding-top: var(--feather-nav-height);
  padding-bottom: 128px;
  visibility: visible;
  box-shadow: none;
  opacity: 1;
  transform: translateX(0);
}

:global(.dark) .sidebar {
  box-shadow: var(--feather-shadow-2);
}
