.content {
  width: 100%;
}

.doc-content {
  width: 100%;
  padding: 2rem;
  padding-bottom: 0;
  background-color: var(--feather-c-bg);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  margin-left: 2rem;
  font-size: 1rem;
}

.aside-container {
  position: sticky;
  top: 8rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
